/*
    CSS Reset
*/
html, body, h1, h2, h3, h4, input, button, ul, li, a, p {
    margin: 0;
    border: 0;
    padding: 0;
    font: inherit;
    text-align: inherit;
    text-decoration: inherit;
    color: inherit;
    background: transparent;
}
body{
    background: #ECEEF1
    ;
}
header{
    height: 45px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}
.button{
    color: white;
    background: #0077C5;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    margin-left: 15px;
}
